<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_area :details %>
   <div class="field">
    <%= f.label :calendar_date %>
    <%= f.date_select :calendar_date %>
  </div>
  <%= f.submit %>
<% end %>
